{% extends 'AdminBundle::layout.html.twig' %}
{% block title %} FTTH Orange | produits entrés {% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('') }}assets/css/jquery-ui.custom.min.css"/>
        <link rel="stylesheet" href="{{ asset('') }}assets/css/chosen.min.css"/>
        <link rel="stylesheet" href="{{ asset('') }}assets/css/bootstrap-datepicker3.min.css"/>
        <link rel="stylesheet" href="{{ asset('') }}assets/css/bootstrap-timepicker.min.css"/>
        <link rel="stylesheet" href="{{ asset('') }}assets/css/daterangepicker.min.css"/>
        <link rel="stylesheet" href="{{ asset('') }}assets/css/bootstrap-datetimepicker.min.css"/>
        <link rel="stylesheet" href="{{ asset('') }}assets/css/bootstrap-colorpicker.min.css"/>

    {% endblock %}
   {% block menu %}  <a href="{{ path('quantiteentree_index') }}">Produits_entrés</a>   {% endblock %}

   {% block menu_active %}    Ajouter {% endblock %}
{% block content %}

    <div class="col-md-10  widget-container-col ui-sortable" id="widget-container-col-1">
        <div class="widget-box ui-sortable-handle" id="widget-box-1">
            <div class="widget-header">
                <h5 class="widget-title">Nouvelle quantité entrée :</h5>

                <div class="widget-toolbar">
                    <div class="widget-menu">
                        <a href="#" data-action="settings" data-toggle="dropdown">
                            <i class="ace-icon fa fa-bars"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                            <li>
                                <a data-toggle="tab" href="#dropdown1">Option#1</a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#dropdown2">Option#2</a>
                            </li>
                        </ul>
                    </div>

                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>

                    <a href="#" data-action="reload">
                        <i class="ace-icon fa fa-refresh"></i>
                    </a>

                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>

                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <hr>
                {{ form_start(form) }}


                <div class="row">

                    <div class="col-md-5 col-md-offset-1"> {{ form_row(form.fou) }}</div>
                    <div class="col-md-5">{{ form_row(form.pro) }}</div>

                </div>
                <div class="row">

                    <div class="col-md-5 col-md-offset-1">
                        <label for=""> Date entrée: </label>

                        <div class="input-group">

                            <input type="text" id="adminbundle_quantiteentree_dateentree" name="adminbundle_quantiteentree[dateentree]" required="required" class="date-timepicker1 form-control is-invalid">
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o bigger-120 blue"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="spinner1">Quantité: </label>
                        <div class="input-group">
                            <input type="text" id="adminbundle_quantiteentree_qteentree" name="adminbundle_quantiteentree[qteentree]" class="spinbox-input form-control text-center spinner1">
                            <div class="spinbox-buttons input-group-btn btn-group-vertical">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
                <hr>

                {{ form_widget(form._token) }}

                {{ form_end(form , {'render_rest': false}) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src=" {{ asset('') }}assets/js/jquery-ui.custom.min.js"></script>
    <script src="{{ asset('') }}assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ asset('') }}assets/js/chosen.jquery.min.js"></script>
    <script src="{{ asset('') }}assets/js/spinbox.min.js"></script>
    <script src="{{ asset('') }}assets/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('') }}assets/js/bootstrap-timepicker.min.js"></script>
    <script src="{{ asset('') }}assets/js/moment.min.js"></script>
    <script src="{{ asset('') }}assets/js/daterangepicker.min.js"></script>
    <script src="{{ asset('') }}assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ asset('') }}assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="{{ asset('') }}assets/js/jquery.knob.min.js"></script>
    <script src="{{ asset('') }}assets/js/autosize.min.js"></script>
    <script src="{{ asset('') }}assets/js/jquery.inputlimiter.min.js"></script>
    <script src="{{ asset('') }}assets/js/jquery.maskedinput.min.js"></script>
    <script src="{{ asset('') }}assets/js/bootstrap-tag.min.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            if (!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker(
                {
                    locale: moment.locale('pt'),
                    format: 'YYYY-MM-DD HH:mm' ,
                    maxDate: moment(),
                    widgetPositioning: {
                        horizontal: 'left',
                        vertical: 'bottom'
                    },
                    icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-arrows ',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('.spinner1').ace_spinner({
                value: 0,
                min: 0,
                max: 200,
                step: 10,
                btn_up_class: 'btn-info',
                btn_down_class: 'btn-info'
            })
                .closest('.ace-spinner')
            ;


            $(".chosen-select").chosen();


        });


    </script>
{% endblock %}