{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quantiteentree</h1>

    <table>
        <tbody>
            <tr>
                <th>Qteentree</th>
                <td>{{ quantiteentree.qteentree }}</td>
            </tr>
            <tr>
                <th>Dateentree</th>
                <td>{% if quantiteentree.dateentree %}{{ quantiteentree.dateentree|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ quantiteentree.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quantiteentree_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('quantiteentree_edit', { 'id': quantiteentree.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
