{% extends 'AdminBundle::layout.html.twig' %}
{% block title %} FTTH | Orange - Commandes  | prestataire {% endblock %}

   {% block menu %}  <a href="{{ path('commande_prestataire') }}">Commandes</a>   {% endblock %}

   {% block menu_active %}    Liste {% endblock %}
{% block content %}
    <div class="col-md-10  widget-container-col ui-sortable" id="widget-container-col-1">
        <div class="widget-box ui-sortable-handle" id="widget-box-1">
            <div class="widget-header">
                <h5 class="widget-title">Liste des Commandes :</h5>

                <div class="widget-toolbar">
                    <div class="widget-menu">
                        <a href="#" data-action="settings" data-toggle="dropdown">
                            <i class="ace-icon fa fa-bars"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                            <li>
                                <a data-toggle="tab" href="#dropdown1">Option#1</a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#dropdown2">Option#2</a>
                            </li>
                        </ul>
                    </div>

                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>

                    <a href="#" data-action="reload">
                        <i class="ace-icon fa fa-refresh"></i>
                    </a>

                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>

                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Prestataire</th>
                                <th>Produit</th>
                                <th>qte comm</th>
                                <th>date comm</th>
                                <th>qte livr</th>
                                <th>date livr</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for quantitelivree in quantitelivrees %}
                                <tr>
                                <td>
                                    <a href="{{ path('quantitelivree_show', { 'id': quantitelivree.id }) }}">{{ quantitelivree.id }}</a>
                                </td>

                                <td>
                                    {% if quantitelivree.qua is null %}
                                        --
                                    {% elseif quantitelivree.qua.bon is null %}
                                        --
                                    {% elseif quantitelivree.qua.bon.pre is null %}
                                        --
                                    {% else %}
                                        {{ quantitelivree.qua.bon.pre.labelle }}


                                    {% endif %}
                                </td>
                                <td>

                                {% if quantitelivree.qua is null %}
                                --
                                {% elseif quantitelivree.qua.pro is null %}
                                    --
                                {% else %}

                                    {{ quantitelivree.qua.pro.labelle }}


                                {% endif %}


                                </td>
                                <td>
                                <td></td>
                                <td></td>
                                </td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('quantitelivree_show', { 'id': quantitelivree.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('quantitelivree_edit', { 'id': quantitelivree.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>
        </div>
    </div>



{% endblock %}
